# Homerwork Pandas

Trabajarás con un conjunto de datos de Airbnb llamado Airbnb.csv. Realizarás diferentes actividades de análisis de datos, limpieza y exportación de información filtrada.

1. Lectura de Datos y Análisis Estadístico
Leer el archivo airbnb.csv:

* Utiliza pandas para leer el archivo CSV y cargar los datos en un DataFrame df.
Muestra las primeras filas del DataFrame para familiarizarte con los datos.
Análisis Estadístico:

* Utiliza el método describe() para obtener un resumen estadístico de las columnas numéricas.
Utiliza el método info() para obtener información sobre el DataFrame, como el número de entradas, tipos de datos y valores nulos.

In [12]:
import pandas as pd

# Actividad 1: Lectura de Datos y Análisis Estadístico

# Leer el archivo CSV
# Mostrar las primeras filas del DataFrame

data = pd.read_csv('airbnb.csv')

print("Primeras filas del DataFrame:")
print(data.head())

Primeras filas del DataFrame:
        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]

In [13]:
# Análisis estadístico
print("Resumen estadístico:")
data.describe()

Resumen estadístico:

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,license
count,1.000000e+03,1.000000e+03,992.000000,992.000000,913.000000,916.000000,997.000000,944.000000,915.000000,985.000000,852.000000,0.0
mean,1.277210e+06,4.948780e+10,40.728213,-73.963373,2012.460022,19.192140,79.740221,0.921886,3.119126,2.383756,206.252347,NaN
std,1.595150e+05,2.823445e+10,0.051694,0.033392,5.771298,123.454716,88.411084,0.965117,1.418854,4.434132,130.146924,NaN
min,1.001254e+06,2.071278e+08,40.581470,-74.165340,2003.000000,-12.000000,0.000000,0.010000,1.000000,1.000000,-10.000000,NaN
25%,1.139273e+06,2.549393e+10,40.687610,-73.984430,2007.000000,2.000000,15.000000,0.230000,2.000000,1.000000,87.000000,NaN
50%,1.277210e+06,4.954216e+10,40.721970,-73.960890,2013.000000,3.000000,46.000000,0.580000,3.000000,1.000000,206.500000,NaN
75%,1.415147e+06,7.392911e+10,40.757525,-73.948318,2017.000000,7.000000,117.000000,1.320000,4.000000,2.000000,322.000000,NaN
max,1.553084e+06,9.866848e+10,40.897470,-73.761330,2022.000000,3455.000000,480.000000,7.140000,5.000000,28.000000,426.000000,NaN

In [17]:
# Información del DataFrame
print("Información del DataFrame:")
data.info()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1000 non-null   int64
 1   NAME                            944 non-null    object
 2   host id                         1000 non-null   int64
 3   host_identity_verified          927 non-null    object
 4   host name                       981 non-null    object
 5   neighbourhood group             973 non-null    object
 6   neighbourhood                   984 non-null    object
 7   lat                             992 non-null    float64
 8   long                            992 non-null    float64
 9   country                         950 non-null    object
 10  country code                    921 non-null    object
 11  instant_bookable                921 non-null    object
 12  cancellation_policy             950 non-null    object
 13  room type                       1000 non-null   object
 14  Construction year               913 non-null    float64
 15  price                           989 non-null    object
 16  service fee                     995 non-null    object
 17  minimum nights                  916 non-null    float64
 18  number of reviews               997 non-null    float64
 19  last review                     930 non-null    object
 20  reviews per month               944 non-null    float64
 21  review rate number              915 non-null    float64
 22  calculated host listings count  985 non-null    float64
 23  availability 365                852 non-null    float64
 24  house_rules                     721 non-null    object
 25  license                         0 non-null      float64
dtypes: float64(10), int64(2), object(14)
memory usage: 203.3+ KB

2. Eliminación de Columnas Irrelevantes
Eliminar Columnas:
* Identifica y elimina las columnas que no son relevantes para el análisis (por ejemplo, columnas como id, host id, license).
* Asegúrate de que las columnas relevantes permanezcan en el DataFrame.

In [16]:
# Actividad 2: Eliminación de Columnas Irrelevantes

# Eliminar columnas no relevantes
columnas_a_eliminar = ['id', 'host id', 'license']
clean_data = data.drop(columns=columnas_a_eliminar)

# Verificar columnas restantes
print("Columnas después de eliminación:")
print(clean_data.columns)

Columnas después de eliminación:
Index(['NAME', 'host_identity_verified', 'host name', 'neighbourhood group',
       'neighbourhood', 'lat', 'long', 'country', 'country code',
       'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules'],
      dtype='object')

3. Manejo de Valores Nulos
Eliminar Valores Nulos:
* Utiliza el método dropna() para eliminar filas que contengan valores nulos.
* Verifica que los valores nulos hayan sido eliminados correctamente.

In [20]:
# Actividad 3: Manejo de Valores Nulos

data_null = data[data.isnull().any(axis=1)]
print('filas con datos nulos ')
print(data_null.count())
print(data_null)

no_null_data = data.dropna()

# Eliminar filas con valores nulos

# Verificar si hay valores nulos restantes
print("Valores nulos restantes:")
print(no_null_data)

filas con datos nulos
id                                1000
NAME                               944
host id                           1000
host_identity_verified             927
host name                          981
neighbourhood group                973
neighbourhood                      984
lat                                992
long                               992
country                            950
country code                       921
instant_bookable                   921
cancellation_policy                950
room type                         1000
Construction year                  913
price                              989
service fee                        995
minimum nights                     916
number of reviews                  997
last review                        930
reviews per month                  944
review rate number                 915
calculated host listings count     985
availability 365                   852
house_rules                        721
license                              0
dtype: int64
          id                                               NAME      host id  \
0    1001254                 Clean & quiet apt home by the park  80014485718
1    1002102                              Skylit Midtown Castle  52335172823
2    1002403                THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3    1002755                                                NaN  85098326012
4    1003689   Entire Apt: Spacious Studio/Loft by central park  92037596077
..       ...                                                ...          ...
995  1550875                    Sunny UES 1.5 Bedroom, Sleeps 6  26366238678
996  1551427                 Stay with a Jazz Singer in Harlem!  38298412868
997  1551979  Large Private Room Near Central Park & Mount S...  11742567648
998  1552531                Luxury room in Manhattan Duplex Apt  91908697117
999  1553084    Gorgeous Sunny, Spacious 1 bdrm in East Village  66135119146

    host_identity_verified host name neighbourhood group    neighbourhood  \
0              unconfirmed  Madaline            Brooklyn       Kensington
1                 verified     Jenna           Manhattan          Midtown
2                      NaN     Elise           Manhattan           Harlem
3              unconfirmed     Garry            Brooklyn     Clinton Hill
4                 verified    Lyndon           Manhattan      East Harlem
..                     ...       ...                 ...              ...
995               verified   Stewart           Manhattan  Upper East Side
996               verified    Taylor           Manhattan           Harlem
997            unconfirmed     Grant           Manhattan      East Harlem
998               verified  Richards           Manhattan          Midtown
999            unconfirmed    Holmes           Manhattan     East Village

          lat      long        country  ... service fee minimum nights  \
0    40.64749 -73.97237  United States  ...       $193            10.0
1    40.75362 -73.98377  United States  ...        $28            30.0
2    40.80902 -73.94190  United States  ...       $124             3.0
3    40.68514 -73.95976  United States  ...        $74            30.0
4    40.79851 -73.94399  United States  ...        $41            10.0
..        ...       ...            ...  ...         ...            ...
995  40.76494 -73.95804  United States  ...        $92             4.0
996  40.80192 -73.95827  United States  ...       $199             1.0
997  40.79314 -73.94853  United States  ...        $37             3.0
998  40.74530 -73.99056  United States  ...       $128             3.0
999  40.72812 -73.97966  United States  ...       $113             2.0

    number of reviews last review  reviews per month review rate number  \
0                 9.0  10/19/2021               0.21                4.0
1                45.0   5/21/2022               0.38                4.0
2                 0.0         NaN                NaN                5.0
3               270.0    7/5/2019               4.64                4.0
4                 9.0  11/19/2018               0.10                3.0
..                ...         ...                ...                ...
995              19.0   5/21/2019               0.22                4.0
996               0.0         NaN                NaN                3.0
997              74.0   5/28/2019               0.84                5.0
998             165.0    7/3/2019               1.88                3.0
999              16.0    1/2/2019               0.18                NaN

    calculated host listings count  availability 365  \
0                              6.0             286.0
1                              2.0             228.0
2                              1.0             352.0
3                              1.0             322.0
4                              1.0             289.0
..                             ...               ...
995                            1.0             154.0
996                            1.0             160.0
997                            3.0             228.0
998                            2.0             113.0
999                            1.0              23.0

                                           house_rules license
0    Clean up and treat the home the way you'd like...     NaN
1    Pet friendly but please confirm with me if the...     NaN
2    I encourage you to use my kitchen, cooking and...     NaN
3                                                  NaN     NaN
4    Please no smoking in the house, porch or on th...     NaN
..                                                 ...     ...
995                              No pets. No smoking.      NaN
996  No smoking in the apartment, in the foyer or o...     NaN
997                                No smoking, no pets     NaN
998                                                NaN     NaN
999  - The apartment is 3 levels - the 2nd, 3rd, an...     NaN

[1000 rows x 26 columns]
Valores nulos restantes:
Empty DataFrame
Columns: [id, NAME, host id, host_identity_verified, host name, neighbourhood group, neighbourhood, lat, long, country, country code, instant_bookable, cancellation_policy, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, reviews per month, review rate number, calculated host listings count, availability 365, house_rules, license]
Index: []

[0 rows x 26 columns]

4. Resúmenes con groupby
Agrupar y Resumir Datos:
* Agrupa los datos por neighbourhood group y calcula la cantidad de por cada Barrio 
* Muestra los resultados de esta agrupación.

In [ ]:
# Actividad 4: Resúmenes con `groupby`

# Agrupar por 'neighbourhood group' y resumir precio y número de reseñas
print("Resumen por 'neighbourhood group':")

5. Filtrado y Exportación de Datos
Filtrar Datos por País y Año de Construcción:

* Filtra el DataFrame para incluir solo las propiedades en los Estados Unidos (country == 'United States') y construidas después del año 2005.
Guarda este DataFrame filtrado en una nueva variable df_filtrado.
Exportar Datos Filtrados:

* Exporta el DataFrame df_filtrado a un nuevo archivo CSV llamado airbnb_filtrado.csv

In [ ]:
# Actividad 5: Filtrado y Exportación de Datos

# Filtrar por país y año de construcción

In [ ]:
# Exportar el DataFrame filtrado a un nuevo archivo CSV

print("Datos filtrados exportados a 'airbnb_filtrado.csv'.")